<div class="dropdown px-4">
    <button class="btn btn-secondary rounded-pill dropdown-toggle px-4" data-bs-toggle="dropdown" aria-expanded="false">
        <span>{{getLenth()}}</span><i class="fas fa-shopping-cart"></i>
    </button>
    <ul class="dropdown-menu  " aria-labelledby="dropdownMenuButton1">
        <ng-container *ngFor="let item of items;let i=index">
            <li class=" d-flex justify-content-between px-4">
                <div class="col-sm-10 align-self-center">{{item.textHeader}}</div>
                <button class="btn btn-xs btn-danger rounded-circle  px-2" (click)="deleteElement(item)"><span
                        style="color:white"><i class="fas fa-cart-arrow-down"></i></span></button>
            </li>
            <div *ngIf="i!==getLenth()-1" class="dropdown-divider"></div>
            <div *ngIf="i===getLenth()-1" class="pb-2"></div>
        </ng-container>
        <li *ngIf="getLenth()!==0" class=" d-flex justify-content-center"> <button (click)="verCarrito()" class="btn btn-primary col-sm-10">Ver
                carrito</button></li>
        <li *ngIf="getLenth()===0" class=" d-flex justify-content-center">
            Vacío
        </li>
    </ul>
</div>