<div class="card-group">
    <div class="col-sm-4 border-white d-flex " *ngFor="let item of items">
        <div class="card  bg-dark">
            <img class="card-img-top" src="{{item.foto}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.textHeader}}</h5>
                <p class="card-text">{{item.textBody}}</p>


                <p class="card-text"><small class="text-muted">{{item.typeAnimal}}</small></p>
                <button type="button" (click)="addCart(item)" class="btn btn-primary align-self-end">Comprar</button>
            </div>
        </div>
    </div>

</div>